%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    .BillData
      .BillTitle<
        Channel Tunnel Rail Link (Supplementary Provisions) Bill
      #1112543.Clauses
        #996720.PageStart.first
          %a{ :href => "#page1", :name => "page1" }<>
            Page 1
        #1003899.Rubric
        #1112557.Prelim
          #1003906.ABillTo
            #1003909.Abt1<>
              %a{ :name => "page1-line1" }<>
              A
            #1003917.Abt2<>
              %a{ :name => "page1-line2" }<>
              Bill
            #1003924.Abt3<>
            #1003929.Abt4<>
              %a{ :name => "page1-line3" }<>
              To
          #1003732.LongTitle
            %a{ :name => "page1-line4" }
            #1003762.Bpara
              %span#1004723.Letter<>
                M
              ake provision amending, and supplementary to, the
              %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61", :rel => "cite" }<
                Channel Tunnel Rail
                %br
                Link Act 1996
              %a{ :name => "page1-line5" }<>
              \&nbsp;.
              %span#1004229.Enact
          #1003778.WordsOfEnactment
            %a{ :name => "page1-line6" }
            #1003785.Bpara
              %span#1112718.FrameData<>
                %span#1003796.Dropcap<>
                  B
              %span#1003802.SmallCaps<>
                e it enacted
              by the Queen’s most Excellent Majesty, by and with the advice and
              %br
              %a{ :name => "page1-line7" }<>
              consent of the Lords Spiritual and Temporal, and Commons, in this present
              %br
              %a{ :name => "page1-line8" }<>
              Parliament assembled, and by the authority of the same, as follows:—
        #1093880.Clause
          #1093884.ClauseTitle
            %p#1112740.ClauseTitle_PgfTag
              %span.PgfNumString<
                %span.PgfNumString_1<>
                  %a#clause_j1{ :name => "clause1", :href => "#clause1" }<>
                    1
              %a{ :name => "page1-line9" }<>
              %a{ :name => "clause1-page1-line9" }<>
              = link_to_function '<img alt="" id="1099624_img" src="/images/down-arrow.png">', "$('1099624').toggle();imgswap('1099624_img')"
              %span.ClauseTitle_text<
                = link_to_function "Powers of Secretary of State", "$('1099624').toggle();imgswap('1099624_img')"
          #1099624.ClauseText
            #1112745.SubSection
              %p#1112746.SubSection_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (1)
                %a{ :name => "page1-line10" }<>
                %a{ :name => "clause1-page1-line10" }<>
                %span.SubSection_text<
                  For the avoidance of doubt, nothing in
                  %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "Section 56: Interpretation", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56" }<
                    sections 31 to 33 of the 1996 Act
                  prevents
                  %br
                  %a{ :name => "page1-line11" }<>
                  %a{ :name => "clause1-page1-line11" }<>
                  the powers of the Secretary of State under
                  %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "Section 56: Interpretation", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56" }<
                    section 6 of the Railways Act 2005
                    %br
                    (c. 14)
                  %a{ :name => "page1-line12" }<>
                  %a{ :name => "clause1-page1-line12" }<>
                  \ from being exercised in relation to the rail link or railway services on it.
            #1112757.SubSection
              %p#1112761.SubSection_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (2)
                %a{ :name => "page1-line13" }<>
                %a{ :name => "clause1-page1-line13" }<>
                %span.SubSection_text<
                  In
                  %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "subsection (1)", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56/1" }<
                    subsection (1)
                  “rail link” has the same meaning as in the 1996 Act.
        #1112782.Clause
          #1112786.ClauseTitle
            %p#1112788.ClauseTitle_PgfTag
              %span.PgfNumString<
                %span.PgfNumString_1<>
                  %a#clause_j3{ :name => "clause2", :href => "#clause2" }<>
                    2
              %a{ :name => "page1-line14" }<>
              %a{ :name => "clause2-page1-line14" }<>
              = link_to_function '<img alt="" id="1112791_img" src="/images/down-arrow.png">', "$('1112791').toggle();imgswap('1112791_img')"
              %span.ClauseTitle_text<
                = link_to_function "Access contracts", "$('1112791').toggle();imgswap('1112791_img')"
          #1112791.ClauseText
            %p#1112792.ClauseText_PgfTag
              %a{ :name => "page1-line15" }<>
              %a{ :name => "clause2-page1-line15" }<>
              In
              %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "Section 56: Interpretation", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56" }<
                section 17 of the 1996 Act
              (access agreements), the following are repealed—
            #1112795.Para
              %p#1112797.Paragraph_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (a)
                %a{ :name => "page1-line16" }<>
                %a{ :name => "clause2-page1-line16" }<>
                %span.Para_text<
                  in
                  =%Q{<a href="http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56" title="subsection (2)" rel="cite" resource="http://www.legislation.gov.uk/ukpga/1996/61/section/56/1">subsection (2)</a>,}
                  the words “Subject to subsection (3) below,”;
            #1112800.Para
              %p#1112804.Paragraph_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (b)
                %a{ :name => "page1-line17" }<>
                %a{ :name => "clause2-page1-line17" }<>
                %span.Para_text<
                  %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "subsection (3)", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56/1" }<
                    subsection (3)
                  %span<>
                    \.
        #1112821.Clause
          #1112825.ClauseTitle
            %p#1112827.ClauseTitle_PgfTag
              %span.PgfNumString<
                %span.PgfNumString_1<>
                  %a#clause_j4{ :name => "clause3", :href => "#clause3" }<>
                    3
              %a{ :name => "page1-line18" }<>
              %a{ :name => "clause3-page1-line18" }<>
              = link_to_function '<img alt="" id="1112830_img" src="/images/down-arrow.png">', "$('1112830').toggle();imgswap('1112830_img')"
              %span.ClauseTitle_text<
                = link_to_function "Duties of Office of Rail Regulation", "$('1112830').toggle();imgswap('1112830_img')"
          #1112830.ClauseText
            %p#1112831.ClauseText_PgfTag
              %a{ :name => "page1-line19" }<>
              %a{ :name => "clause3-page1-line19" }<>
              In
              %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "Section 56: Interpretation", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56" }<
                section 21 of the 1996 Act
              (duties of the Office of Rail Regulation as to the
              %br
              %a{ :name => "page1-line20" }<>
              %a{ :name => "clause3-page1-line20" }<>
              exercise of regulatory functions), the following are repealed—
            #1111744.Para
              %p#1112835.Paragraph_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (a)
                %a{ :name => "page1-line21" }<>
                %a{ :name => "clause3-page1-line21" }<>
                %span.Para_text<
                  =%Q{<a href="http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56" title="subsections (2) to (5)" rel="cite" resource="http://www.legislation.gov.uk/ukpga/1996/61/section/56/1">subsections (2) to (5)</a>;}
                  
            #1111767.Para
              %p#1112838.Paragraph_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (b)
                %a{ :name => "page1-line22" }<>
                %a{ :name => "clause3-page1-line22" }<>
                %span.Para_text<
                  in
                  =%Q{<a href="http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56" title="subsection (6)" rel="cite" resource="http://www.legislation.gov.uk/ukpga/1996/61/section/56/1">subsection (6)</a>,}
                  the definitions of “existing”, “international services”
                  %br
                  %a{ :name => "page1-line23" }<>
                  %a{ :name => "clause3-page1-line23" }<>
                  and “network”;
            #1111753.Para
              %p#1112845.Paragraph_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (c)
                %a{ :name => "page1-line24" }<>
                %a{ :name => "clause3-page1-line24" }<>
                %span.Para_text<
                  in
                  =%Q{<a href="http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56" title="subsection (7)" rel="cite" resource="http://www.legislation.gov.uk/ukpga/1996/61/section/56/1">subsection (7)</a>,}
                  the words “or (2)”.
        #1112569.PageStart<
          %a{ :href => "#page2", :name => "page2" }<>
            Page 2
        #1112856.Clause
          #1112860.ClauseTitle
            %p#1112862.ClauseTitle_PgfTag
              %span.PgfNumString<
                %span.PgfNumString_1<>
                  %a#clause_j8{ :name => "clause4", :href => "#clause4" }<>
                    4
              %a{ :name => "page2-line1" }<>
              %a{ :name => "clause4-page2-line1" }<>
              = link_to_function '<img alt="" id="1112865_img" src="/images/down-arrow.png">', "$('1112865').toggle();imgswap('1112865_img')"
              %span.ClauseTitle_text<
                = link_to_function "Power of Office of Rail Regulation to charge fees", "$('1112865').toggle();imgswap('1112865_img')"
          #1112865.ClauseText
            %p#1112866.ClauseText_PgfTag
              %a{ :name => "page2-line2" }<>
              %a{ :name => "clause4-page2-line2" }<>
              After
              %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "Section 56: Interpretation", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56" }<
                section 21 of the 1996 Act
              insert—
            #1112869.Amendment
              #1112872.Clause
                #1112875.ClauseTitle
                  %p#1112877.ClauseTitle_PgfTag
                    %span.PgfNumString<
                      %span.PgfNumString_1<>
                        “21A
                    %a{ :name => "page2-line3" }<>
                    %a{ :name => "clause4-page2-line3" }<>
                    %span.ActClauseTitle_text<
                      Fees
                #1112440.ClauseText
                  #1112448.SubSection
                    %p#1113594.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (1)
                      %span.SubSection_text<
                        %a{ :name => "page2-line4" }<>
                        %a{ :name => "clause4-page2-line4" }<>
                        %span#1113593.Italic<>
                          Subject to this section, the Office of Rail Regulation may by notice require a
                          %br
                          %a{ :name => "page2-line5" }<>
                          %a{ :name => "clause4-page2-line5" }<>
                          rail link undertaker to pay a fee in respect of the exercise of any of the Office of
                          %br
                          %a{ :name => "page2-line6" }<>
                          %a{ :name => "clause4-page2-line6" }<>
                          Rail Regulation’s functions in relation to the rail link
                        %span<>
                          \.
                  #1113357.SubSection
                    %p#1113599.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (2)
                      %a{ :name => "page2-line7" }<>
                      %a{ :name => "clause4-page2-line7" }<>
                      %span.SubSection_text<
                        The amount of a fee under subsection (1) in any case shall be—
                    #1113345.Para
                      %p#1113602.Paragraph_PgfTag
                        %span.PgfNumString<
                          %span.PgfNumString_1<>
                            (a)
                        %a{ :name => "page2-line8" }<>
                        %a{ :name => "clause4-page2-line8" }<>
                        %span.Para_text<
                          such amount as the Office of Rail Regulation considers to
                          %br
                          %a{ :name => "page2-line9" }<>
                          %a{ :name => "clause4-page2-line9" }<>
                          represent the costs reasonably incurred by it in the exercise of
                          %br
                          %a{ :name => "page2-line10" }<>
                          %a{ :name => "clause4-page2-line10" }<>
                          the function in relation to the rail link, or
                    #1113377.Para
                      %p#1113606.Paragraph_PgfTag
                        %span.PgfNumString<
                          %span.PgfNumString_1<>
                            (b)
                        %a{ :name => "page2-line11" }<>
                        %a{ :name => "clause4-page2-line11" }<>
                        %span.Para_text<
                          in a case where there is more than one rail link undertaker, such
                          %br
                          %a{ :name => "page2-line12" }<>
                          %a{ :name => "clause4-page2-line12" }<>
                          proportion of the amount referred to in paragraph (a) as the
                          %br
                          %a{ :name => "page2-line13" }<>
                          %a{ :name => "clause4-page2-line13" }<>
                          Office of Rail Regulation considers it reasonable for the rail link
                          %br
                          %a{ :name => "page2-line14" }<>
                          %a{ :name => "clause4-page2-line14" }<>
                          undertaker to pay.
                  #1112654.SubSection
                    %p#1113611.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (3)
                      %a{ :name => "page2-line15" }<>
                      %a{ :name => "clause4-page2-line15" }<>
                      %span.SubSection_text<
                        Subsection (1) does not apply to the functions assigned to the Office of
                        %br
                        %a{ :name => "page2-line16" }<>
                        %a{ :name => "clause4-page2-line16" }<>
                        Rail Regulation by virtue of section 67(2) and (3) of the Railways Act
                        %br
                        %a{ :name => "page2-line17" }<>
                        %a{ :name => "clause4-page2-line17" }<>
                        1993.
                  #1112462.SubSection
                    %p#1113615.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (4)
                      %a{ :name => "page2-line18" }<>
                      %a{ :name => "clause4-page2-line18" }<>
                      %span.SubSection_text<
                        A notice under this section must specify—
                    #1113618.Para
                      %p#1113620.Paragraph_PgfTag
                        %span.PgfNumString<
                          %span.PgfNumString_1<>
                            (a)
                        %a{ :name => "page2-line19" }<>
                        %a{ :name => "clause4-page2-line19" }<>
                        %span.Para_text<
                          the amount of the fee to be paid, and
                    #1113623.Para
                      %p#1113626.Paragraph_PgfTag
                        %span.PgfNumString<
                          %span.PgfNumString_1<>
                            (b)
                        %a{ :name => "page2-line20" }<>
                        %a{ :name => "clause4-page2-line20" }<>
                        %span.Para_text<
                          the date by which it is to be paid.
                  #1112590.SubSection
                    %p#1113629.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (5)
                      %a{ :name => "page2-line21" }<>
                      %a{ :name => "clause4-page2-line21" }<>
                      %span.SubSection_text<
                        Any amount payable under a notice under this section which remains
                        %br
                        %a{ :name => "page2-line22" }<>
                        %a{ :name => "clause4-page2-line22" }<>
                        unpaid after the date specified in the notice may be recovered by the
                        %br
                        %a{ :name => "page2-line23" }<>
                        %a{ :name => "clause4-page2-line23" }<>
                        Office of Rail Regulation as a civil debt due to it.
                  #1113633.SubSection
                    %p#1113634.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (6)
                      %a{ :name => "page2-line24" }<>
                      %a{ :name => "clause4-page2-line24" }<>
                      %span.SubSection_text<
                        The Office of Rail Regulation may revise a notice under this section by
                        %br
                        %a{ :name => "page2-line25" }<>
                        %a{ :name => "clause4-page2-line25" }<>
                        a further such notice.
                  #1113525.SubSection
                    %p#1113638.SubSection_PgfTag
                      %span.PgfNumString<
                        %span.PgfNumString_1<>
                          (7)
                      %a{ :name => "page2-line26" }<>
                      %a{ :name => "clause4-page2-line26" }<>
                      %span.SubSection_text<
                        The Office of Rail Regulation may refund any amount which, further to
                        %br
                        %a{ :name => "page2-line27" }<>
                        %a{ :name => "clause4-page2-line27" }<>
                        any revised notice under subsection (6), appears to have been overpaid
                        %br
                        %a{ :name => "page2-line28" }<>
                        %a{ :name => "clause4-page2-line28" }<>
                        to it.”
        #1113665.Clause
          #1113669.ClauseTitle
            %p#1113671.ClauseTitle_PgfTag
              %span.PgfNumString<
                %span.PgfNumString_1<>
                  %a#clause_j2{ :name => "clause5", :href => "#clause5" }<>
                    5
              %a{ :name => "page2-line29" }<>
              %a{ :name => "clause5-page2-line29" }<>
              = link_to_function '<img alt="" id="1113674_img" src="/images/down-arrow.png">', "$('1113674').toggle();imgswap('1113674_img')"
              %span.ClauseTitle_text<
                = link_to_function "Meaning of “development agreement”", "$('1113674').toggle();imgswap('1113674_img')"
          #1113674.ClauseText
            %p#1113675.ClauseText_PgfTag
              %a{ :name => "page2-line30" }<>
              %a{ :name => "clause5-page2-line30" }<>
              In
              %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56", :title => "Section 56: Interpretation", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61/section/56" }<
                section 56 of the 1996 Act
              (interpretation) in the definition of “development
              %br
              %a{ :name => "page2-line31" }<>
              %a{ :name => "clause5-page2-line31" }<>
              agreement” in
              =%Q{<a href="http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61/PartI/56" title="subsection (1)" rel="cite" resource="http://www.legislation.gov.uk/ukpga/1996/61/section/56/1">subsection (1)</a>,}
              for “or maintenance” substitute “, maintenance or
              %br
              %a{ :name => "page2-line32" }<>
              %a{ :name => "clause5-page2-line32" }<>
              operation”.
        #1113687.Clause
          #1113691.ClauseTitle
            %p#1113693.ClauseTitle_PgfTag
              %span.PgfNumString<
                %span.PgfNumString_1<>
                  %a#clause_j5{ :name => "clause6", :href => "#clause6" }<>
                    6
              %a{ :name => "page2-line33" }<>
              %a{ :name => "clause6-page2-line33" }<>
              = link_to_function '<img alt="" id="1111763_img" src="/images/down-arrow.png">', "$('1111763').toggle();imgswap('1111763_img')"
              %span.ClauseTitle_text<
                = link_to_function "Interpretation, commencement, short title", "$('1111763').toggle();imgswap('1111763_img')"
          #1111763.ClauseText
            #1113698.SubSection
              %p#1113707.SubSection_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (1)
                %a{ :name => "page2-line34" }<>
                %a{ :name => "clause6-page2-line34" }<>
                %span.SubSection_text<
                  In this Act, “
                  %a{ :href => "http://www.statutelaw.gov.uk/documents/1996/61/ukpga/c61", :title => "Channel Tunnel Rail Link Act 1996", :rel => "cite", :resource => "http://www.legislation.gov.uk/ukpga/1996/61" }<>
                    the 1996 Act
                  ” means the
                  %a#1113701.Citation{ :href => "http://www.opsi.gov.uk/acts/acts2005/ukpga_20050014_en_14", :title => "Channel Tunnel Rail Link Act 1996 (c. 61)" }<
                    Channel Tunnel Rail Link Act 1996 (c. 61)
                  %span<>
                    \.
            #1113710.SubSection
              %p#1113711.SubSection_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (2)
                %a{ :name => "page2-line35" }<>
                %a{ :name => "clause6-page2-line35" }<>
                %span.SubSection_text<
                  This Act comes into force at the end of the period of two months beginning
                  %br
                  %a{ :name => "page2-line36" }<>
                  %a{ :name => "clause6-page2-line36" }<>
                  with the day on which it is passed.
            #1111807.SubSection
              %p#1113715.SubSection_PgfTag
                %span.PgfNumString<
                  %span.PgfNumString_1<>
                    (3)
                %a{ :name => "page2-line37" }<>
                %a{ :name => "clause6-page2-line37" }<>
                %span.SubSection_text<
                  This Act may be cited as the Channel Tunnel Rail Link (Supplementary
                  %br
                  %a{ :name => "page2-line38" }<>
                  %a{ :name => "clause6-page2-line38" }<>
                  Provisions) Act 2008.
      .Footer
        %span.BillPrintNumber<
          Bill 4
        %span.BillSessionNumber<
          54/3
