- unless @act_files.empty?
  %h2 Legislation
  %table.legislation-files
    %caption Legislation
    %tbody
      -@act_files.each do |file|
        %tr.legislation-file{:class => cycle("even", "odd")}
          %td
            =link_to File.basename(file, ".xml"), "act?file=#{file}"
          %td
            =number_to_human_size(File.size(file))
- unless @files_by_bill.empty?
  %h2 Bills
  - @bill_names.each do |bill_name|
    - key = bill_name.blank? ? nil : bill_name  
    - files = @files_by_bill[key]
    %table.mif-files
      %caption= key ? bill_name : 'No bill'
      %tbody
        - files.collect(&:path).each do |file|
          %tr.mif-file{:class => cycle("even", "odd")}
            %td
              = link_to File.basename(file, ".mif"), "convert?file=#{file}"
            %td
              = number_to_human_size(File.size(file))
- else
  %p No files available to parse
