- if @files_by_bill.size > 0 || @act_files.length > 0
  %h1=@title
  - if @act_files.length > 0
    %table.legislation-files
      %caption Legislation
      -@act_files.each do |file|
        %tr.legislation-file{:class => cycle("even", "odd")}
          %td=link_to File.basename(file, ".xml"), "act?file=#{file}"
          %td=number_to_human_size(File.size(file))
  - if @files_by_bill.size > 0
    - @files_by_bill.each do |bill, files|
      %table.mif-files
        %caption= bill ? bill.name : 'No Bill'
        - files.collect(&:path).each do |file|
          %tr.mif-file{:class => cycle("even", "odd")}
            %td= link_to File.basename(file, ".mif"), "convert?file=#{file}"
            %td= number_to_human_size(File.size(file))
- else
  %p No files available to parse
