- unless @act_files.empty?
  %table.legislation-files
    %caption Acts
    %thead
      %tr
        %th Name
        %th Size
    %tfoot
      %tr
        %td Name
        %td Size
    %tbody
      -@act_files.each do |file|
        %tr.legislation-file{:class => cycle("even", "odd")}
          %td
            =link_to File.basename(file, ".xml"), "act?file=#{file}"
          %td
            =number_to_human_size(File.size(file))
- unless @files_by_bill.empty?
  - @bill_names.each do |bill_name|
    - key = bill_name.blank? ? nil : bill_name
    - files = @files_by_bill[key]
    %table.mif-files
      %caption= key ? bill_name : '(No bill named)'
      %thead
        %tr
          %th Name
          %th Size
      %tfoot
        %tr
          %td Name
          %td Size
      %tbody
        - files.each do |file|
          %tr.mif-file{:class => cycle("even", "odd")}
            %td
              = link_to file.name, "convert?file=#{file.path}"
              = link_to "[Text]", "convert?file=#{file.path}&format=text"
              - if file.haml_template_exists?
                = link_to '[Regenerate]', :contoller => "application", :action => "convert", :force => 'true', :file=>"#{file.path}", :method => 'get'
            %td
              = number_to_human_size(File.size(file.path))              
- else
  %p No files available to parse
