-@external_sheet = params[:style]
%html{:lang=>"en-GB"}
  %head
    %title= @title ? @title : 'Miffy'
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    -if @external_sheet
      = stylesheet_link_tag @external_sheet, :media => 'screen, projection'
    -else
      = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    = stylesheet_link_tag 'ie', :media => 'screen, projection'
  %body{:class => page_class}
    #container
      %h1.title= @title
      = yield
