- @external_sheet = params[:style]
- @file = params[:file] || "Index"
- params[:interleave] ? (params[:wide] ? @ens = 'interleaved_wide' : @ens = 'interleaved') : @ens = ''
<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title= @title ? @title : 'Miffy'
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    - if @external_sheet
      = stylesheet_link_tag @external_sheet, :media => 'screen, projection, print'
    -else
      -unless params[:wide]
        = stylesheet_link_tag 'screen', :media => 'screen, projection'
      -if page_class == 'application index'
        = stylesheet_link_tag 'index', :media => 'screen, projection'
      -if page_class == 'application convert'
        = stylesheet_link_tag stylesheet_path(@file, @ens), :media => 'screen, projection'
        = stylesheet_link_tag stylesheet_path(@file, @ens) + '_print', :media => 'print'
      -if page_class == 'application act'
        = stylesheet_link_tag 'act', :media => 'screen, projection'
    %meta{ :name=>"viewport", :content=>"width = 480" }
    = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = javascript_include_tag "prototype", :cache => true
    %script{ :type=>"text/javascript"}
      function imgswap(img_id)
      {
      if ($(img_id).src.indexOf('down-arrow.png') > 0)
      {
      $(img_id).src = '/images/right-arrow.png';
      } else {
      $(img_id).src = '/images/down-arrow.png';
      }
      }
  %body{:class => page_class}
    #page_header
      #navigation
        = link_to_unless_current("Miffy: Index", { :action => "index" })
        - if @show_interleave_link
          &middot;
          = link_to('Show explanatory notes: Page layout', "convert?file=#{@mif_file.path}&interleave=true")
          &middot;
          = link_to('Show explanatory notes: Wide layout', "convert?file=#{@mif_file.path}&interleave=true&wide=true")
        - elsif @show_uninterleave_link
          &middot;
          = link_to('Hide explanatory notes', "convert?file=#{@mif_file.path}")
        - if page_class == 'application convert'
          &middot;
          =link_to('Text only version', "convert?file=#{@mif_file.path}&format=text")
          &middot;
          =link_to('Regenerate', "convert?file=#{@mif_file.path}&force=true")
    #container= yield
    #page_footer
      Material is published through this service under <a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm" rel="rights copyright usage">Parliamentary Copyright</a>.