%head
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'partials/_base.css'
  = stylesheet_link_tag 'print.css', :media => 'print'
  = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%body.bp
  #container
    = yield
