- @external_sheet = params[:style]
- @file = params[:file] || "Index"
- params[:interleave] ? (params[:wide] ? @ens = 'interleaved_wide' : @ens = 'interleaved') : @ens = ''

%html{:lang=>"en-GB"}
  %head
    %title= @title ? @title : 'Miffy'
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag @external_sheet, :media => 'screen, projection, print' if @external_sheet
    -else
      -unless params[:wide]
        = stylesheet_link_tag 'screen', :media => 'screen, projection'
      -if page_class == 'application index'
        = stylesheet_link_tag 'index', :media => 'screen, projection'
      -if page_class == 'application convert'
        = stylesheet_link_tag document_type(@file, @ens), :media => 'screen, projection'
        = stylesheet_link_tag document_type(@file, @ens) + '_print', :media => 'print'
      -if page_class == 'application act'
        = stylesheet_link_tag 'act', :media => 'screen, projection'
    %meta{ :name=>"viewport", :content=>"width = 480" }
    = stylesheet_link_tag 'ie', :media => 'screen, projection'
  %body{:class => page_class}
    #page_header
      HEADER
    #container= yield
    #page_footer