%table
  %thead
    - act = @acts.first
    %tr
      %th{:style => ''}
        name
        %br
        title
      %th{:style => 'width: 5px'}
        number
        %br
        year
        %br
        sections
      %th{:style => ''}
        legislation_url
        %br
        statutelaw_url
        %br
        opsi_url
  %tbody
    - @acts.each do |act|
      %tr
        %td{:style => '; vertical-align: top'}
          = act.name
          %br
          = act.title
        %td{:style => 'width: 5px; vertical-align: top'}
          = act.number
          %br
          = act.year
          %br
          = link_to act.act_sections.size, act
        %td{:style => '; vertical-align: top'}
          = link_to_url act.legislation_url
          %br
          = link_to_url act.statutelaw_url
          %br
          = link_to_url act.opsi_url
